@import './variables';
body {
    background: $white;
    color: $black;
    display: grid;
    background-image: -moz-linear-gradient($blue 8%, $white 64%);
}
input {
    border: 1px solid $black;
    height: 2em;
    border-radius: 16px;
    margin: 6px 0px;
    text-align: center;
}
.form-container {
    display: grid;
    grid-template-columns: 60%;
    background: $black;
    color: $white;
    width: 256px;
    margin: 8vh auto;
    padding: 2em;
    justify-content: center;
    border-radius: 8px;
    justify-content: center;
}
#logo {
    justify-self: center;
}
label,
input[type=submit],
h1 {
    justify-self: center;
}
form[name=loginForm] {
    display: grid;
    justify-content: center;
}
