body {
    background-color: #c6c6c6;
    color: #131313;
}

.main-content {
    display: grid;
    justify-content: center;
}

.sub-content {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #131313;
    box-shadow: 4px 4px black;
    background-color: coral;
}

.poema {
    font-size: 1.3rem;
    font-style: oblique;
}